In [3]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib as plt

In [ ]:
df=pd.read_csv

In [5]:
df[df['total_sqft'].str.contains('[Acres, Sq Meter, Yad, Cn, Guh, o, P]')==True]

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
30,Super built-up Area,19-Dec,Yelahanka,4 BHK,LedorSa,2100 - 2850,4.0,0.0,186.000
56,Built-up Area,20-Feb,Devanahalli,4 Bedroom,BrereAt,3010 - 3410,NaN,NaN,192.000
81,Built-up Area,18-Oct,Hennur Road,4 Bedroom,Gollela,2957 - 3450,NaN,NaN,224.500
122,Super built-up Area,18-Mar,Hebbal,4 BHK,SNontle,3067 - 8156,4.0,0.0,477.000
137,Super built-up Area,19-Mar,8th Phase JP Nagar,2 BHK,Vaarech,1042 - 1105,2.0,0.0,54.005
...,...,...,...,...,...,...,...,...,...
12990,Super built-up Area,18-May,Talaghattapura,3 BHK,Sodgere,1804 - 2273,3.0,0.0,122.000
13059,Super built-up Area,Ready To Move,Harlur,2 BHK,Shodsir,1200 - 1470,2.0,0.0,72.760
13240,Super built-up Area,Ready To Move,Devanahalli,1 BHK,Pardsri,1020 - 1130,NaN,NaN,52.570
13265,Super built-up Area,20-Sep,Hoodi,2 BHK,Ranuetz,1133 - 1384,2.0,0.0,59.135
13299,Super built-up Area,18-Dec,Whitefield,4 BHK,Prtates,2830 - 2882,5.0,0.0,154.500

In [7]:
df['total_sqft']=df['total_sqft'].apply(lambda x : (float(x.split('-')[0])+float(x.split('-')[0])/2) if x.find('-')>0 else x)
df['total_sqft']=df['total_sqft'].astype(str).apply(lambda x : float(x.replace('Sq. Meter', ''))*10.76 if x.find('M')>0 else x)
df['total_sqft']=df['total_sqft'].astype(str).apply(lambda x : float(x.replace('Acres', ''))*43560.00 if x.find('A')>0 else x)
df['total_sqft']=df['total_sqft'].astype(str).apply(lambda x : float(x.replace('Sq. Yards', ''))*9.00 if x.find('Y')>0 else x)
df=df[df['total_sqft'].str.contains('[Yad, Cn, Guh, o, P]')==False]
df['total_sqft']=df['total_sqft'].astype(float)

In [13]:
x = df[['total_sqft']]
y = df['price']
x

       total_sqft
0          1056.0
1          2600.0
2          1440.0
3          1521.0
4          1200.0
...           ...
13315      3453.0
13316      3600.0
13317      1141.0
13318      4689.0
13319       550.0

[13299 rows x 1 columns]

In [9]:
model = LinearRegression()
model.fit(x,y)

LinearRegression()

In [17]:
x = float(input("Area of the land in sqft"))
Land_Area_IN_sqft = [[x]]
predicted_result = model.predict(Land_Area_IN_sqft)
print(predicted_result)

Area of the land in sqft 5687.65

[114.81022518]

/opt/conda/lib/python3.7/site-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"